<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>recipebase</title>
</head>

<body>
    <table cellpadding="10">
        <tr>
            <td><a href="{{ url_for('recipe_form') }}">Add a recipe</a></td>
            <td><a href="{{ url_for('ingredients_form') }}">Add an ingredient</a></td>
            <td><a href="{{ url_for('ingredients_index') }}">List ingredients</a></td>
        </tr>
    </table>

    {% block body %}
    <p>
        Content.
    </p>
    {% endblock %}
</body>

</html>