{% extends "layout.html" %}

{% block body %}


<div class="row justify-content-around">
  <div class="col-7 col-ingredient-list">
    <table class="table table-striped" id="ingredientList">
      <thead>
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Category</th>
          <th scope="col">Unit</th>
          <th scope="col">Kcal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
        <tr>
          <td style="word-wrap: break-word; max-width: 8em;">{{ ingredient.name }}</td>
          <td style="word-wrap: break-word; max-width: 8em;">{{ ingredient.category }}</td>
          <td>{{ ingredient.unit }}</td>
          <td>{{ (ingredient.kcal|string).rstrip('0').rstrip('.') }}</td>

          {% if current_user.is_authenticated and ingredient.account_id == account_id %}
          <td style="max-width: 3em;" align="center">
            <form method="GET" action="{{ url_for('ingredients_edit', ingredient_id=ingredient.id) }}">
              <button type="submit" class="btn btn-outline-primary btn-sm">Edit</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-4 col-ingredient-add">
    <h4>Add an ingredient</h4>
    <div class="col col-lg-9 form-ingredient">
      <form method="POST" action="{{ form_action }}">
        <div class="form-label-group ingredient-input" style="margin-bottom: 10px;">
          {{ form.name.label }}
          {{ form.name(class="form-control") }}
        </div>
        <div class="form-label-group ingredient-input">
          {{ form.category.label }}
          {{ form.category(class="form-control") }}
        </div>
        <div class="form-label-group ingredient-input">
          {{ form.unit.label }}
          {{ form.unit(class="form-control") }}
        </div>
        <div class="form-label-group ingredient-input">
          {{ form.kcal.label }}
          {{ form.kcal(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-outline-primary btn-ingredient">{{ button_text }}</button>
      </form>
    </div>

    <div class="col col-lg-9" style="margin-top: 20px;">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
      <div class="col-md-auto">
        <div class="alert alert-danger alert-dismissible fade show">
          {{ error }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
      {% if db_error %}
      <div class="col-md-auto">
        <div class="alert alert-danger alert-dismissible fade show">
          {{ db_error }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#ingredientList').DataTable({
      'columnDefs': [
        {
          'targets': [4, 4], /* column index */
          'orderable': false 
        }
      ]
    });

  });
</script>

{% endblock %}