/* General */


:root {
    --button-background-color: #024700;    
  }

.btn-primary {
    background-color: var(--button-background-color) !important;
}

.btn-outline-primary {
    color: var(--button-background-color) !important;
    border-color: var(--button-background-color) !important;
}

.btn-outline-primary:hover {
    background-color: var(--button-background-color) !important;
    color: white !important;
}

.btn-group {
    margin: 5px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:focus~custom-control-label::before,
.custom-control-input:focus,
.custom-control-input~.custom-control-indicator,
.custom-control-input:focus~.custom-control-indicator
 {
    background-color: #024700 !important;
    box-shadow:none !important;
    outline:0;
  }

.custom-checkbox {
    margin: 5px 5px;
  }

.form-control:focus,
.btn-outline-primary:focus {
    border-color: #d6d6d6 !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(141, 141, 141, 0.5) !important;
  }




/* Navbar */
.navbar-custom {
    background-color: rgb(2, 71, 0);
    border-color: #E7E7E7;
  }

.navbar-brand {
    font-family: Bookman, "URW Bookman L", sans-serif;
  }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
      color: rgba(255,255,255,.9);
  }

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color:whitesmoke;
}


/* Search view */

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}



/* Recipe creation form */

li.ingredient {
    
    padding: 5px 0px;
}

main { 
    padding-top: 50px;
    margin-left: 50px;
    padding-right: 50px; 
}



/* Autocomplete */

li.autocomplete {
    display: block;
    color: black;
    text-decoration: none;
    width: 20%;
    z-index: 1000;
    border: 1px solid #CBD3DD;
    background-color: white;
}

li.autocomplete :hover,
.ui-state-active {
    background-color: rgb(216, 215, 215);
}

.ui-helper-hidden-accessible {
    display:none;
}

.ui-autocomplete {
    position: relative;
}





/*
ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
    margin-bottom: 50px;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover:not(.active) {
    background-color: #111;
}

li.user {
    float: right; 
    padding: 14px 16px; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    display: block;
}

.active {
    background-color: #4CAF50;
    text-align: center; 
    display: block;
    padding: 14px 16px; 
    color: white; 
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
*/
