/* General */
:root {
    --theme-color: #324D31;    
  }

main { 
    padding-top: 70px;
    margin-left: 50px;
    padding-right: 50px; 
}


/* Navbar */
.navbar-custom {
    background-color: var(--theme-color);
    border-color: #E7E7E7;
  }

.navbar-brand {
    font-family: Bookman, "URW Bookman L", sans-serif;
  }

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
      color: rgba(255,255,255,.9);
  }

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color:whitesmoke;
}


/* Buttons and forms*/
.btn-primary {
    background-color: var(--theme-color) !important;
}

.btn-primary:hover {
    background-color: rgb(31, 47, 30) !important;
}

.btn-outline-primary {
    color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.btn-outline-primary:hover {
    background-color: var(--theme-color) !important;
    color: white !important;
}

.btn-group {
    margin: 5px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-control-input:focus~custom-control-label::before,
.custom-control-input:focus,
.custom-control-input~.custom-control-indicator,
.custom-control-input:focus~.custom-control-indicator
 {
    background-color: var(--theme-color) !important;
    box-shadow:none !important;
    outline:0;
  }

.custom-checkbox {
    margin: 5px 5px;
  }

.form-control:focus,
.btn-outline-primary:focus {
    border-color: #d6d6d6 !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(141, 141, 141, 0.5) !important;
  }


/* Search and list view */
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.row-card {
    display: flex;
    flex-wrap: wrap;
 }

.card {
     margin: 20px;
     padding: 0px;
 }

 #sform label {
     font-size: default;
 }


 /* Recipe view */
.col-ingredient,
.col-instructions {
    overflow-y: auto; 
    height: 80vh; 
    width: 100%; 
    scrollbar-width: thin;
   
}

.col-instructions {
   padding-left: 100px;
   padding-right: 60px;
}

.p-instructions {
    white-space: pre-wrap; 
    margin-top: 60px;
}


/* Recipe creation form */
li.ingredient {
    
    padding: 5px 0px;
}

#ingredients label {
    display: none;
}


/* Ingredient list view */
.col-ingredient-add,
.col-ingredient-list
 {
    overflow-y: auto; 
    height: 80vh; 
    width: 100%; 
    scrollbar-width: thin;
   
}

.col-ingredient-add {
    margin-left: 30px;
}

.form-ingredient {
    border: solid 1px; 
    border-radius: 0px; 
    padding-bottom: 20px; 
    margin-right: 0px;
    margin-top: 0px; 
    border-color: black;
}

.ingredient-input {
    margin-top: 10px;
}

.btn-ingredient {
    margin-top: 20px; 
    width: 100%;
}


/* User authorization forms */
.form-user {
    border: solid 2px; 
    border-radius: 6px; 
    padding-bottom: 20px; 
    margin-top: 20px; 
    border-color: rgb(195, 194, 194);
}

.btn-user {
    margin-top: 40px; 
    width: 100%;
}


/* Autocomplete */
li.autocomplete {
    display: block;
    color: black;
    text-decoration: none;
    width: 20%;
    z-index: 1000;
    border: 1px solid #CBD3DD;
    background-color: white;
}

li.autocomplete :hover,
.ui-state-active {
    background-color: rgb(216, 215, 215);
}

.ui-helper-hidden-accessible {
    display:none;
}

.ui-autocomplete {
    position: relative;
}

/* DataTables */

.dataTables_wrapper { 
    font-size: default; 
}

.dataTables_info {
    font-size: 12px;
}

#ingredientList_length {
    font-size: 12px;
}
#ingredientList_filter {
    font-size: 14px;
}

[class^="paginate"] {
    font-size: 12px;
}

.paginate_button:hover {
    color: var(--theme-color) !important;
}

.paginate_button.current {
    border: 0px solid var(--theme-color) !important;
    background-color: white !important; 
    color: white !important;
    padding: 14px 28px;
    font-size: 8px;
    cursor: pointer;
}

