
ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
    margin-bottom: 50px;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a:hover:not(.active) {
    background-color: #111;
}

li.user {
    float: right; 
    padding: 14px 16px; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    display: block;
}

.active {
    background-color: #4CAF50;
    text-align: center; 
    display: block;
    padding: 14px 16px; 
    color: white; 
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.autocomplete {
    display: block;
    color: black;
    text-decoration: none;
    width: 20%;
}

li.autocomplete :hover,
.ui-state-active {
    background-color: rgb(216, 215, 215);
}

.ui-helper-hidden-accessible {
    display:none;
}