{% extends "layout.html" %}

{% block body %}

<div class="container">
      <div class="row justify-content-md-center" style="margin-top: 0px;">

            <div class="col-md-auto">
                  {% if error is defined %}
                  <div class="alert alert-danger alert-dismissible fade show">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
                  {% endif %}
                  {% if success is defined %}
                  <div class="alert alert-success alert-dismissible fade show">
                        {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
                  {% endif %}
            </div>

      </div>

      <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                  <form method="POST" action="{{ url_for('auth_login') }}">
                        <div class="form-label-group" style="margin-bottom: 10px; margin-top: 20px;">
                              {{ form.username.label }}
                              {{ form.username(class="form-control") }}
                        </div>
                        <div class="form-label-group">
                              {{ form.password.label }}
                              {{ form.password(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-outline-primary" style="margin-top: 20px;">Login</button>
                  </form>
            </div>
      </div>
      <div class="row justify-content-md-center" style="margin-top: 20px;">
            <div class="col col-lg-4">
                  <p><a href="{{ url_for('auth_signup') }}">Sign up</a> for an account.</p>
            </div>
      </div>

</div>
{% endblock %}