{% extends "layout.html" %}

{% block body %}

<div class="container">
      <div class="row justify-content-md-center">
            {{ error }}
      </div>
      <div class="row justify-content-md-center">
            <div class="col-md-auto">
                  <form method="POST" action="{{ url_for('auth_login') }}">
                        <div class="form-label-group" style="margin-bottom: 10px;">
                              {{ form.username.label }}
                              {{ form.username(class="form-control") }}
                        </div>
                        <div class="form-label-group">
                              {{ form.password.label }}
                              {{ form.password(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-outline-primary" style="margin-top: 20px;">Login</button>
                        <div class="col-md-2">

                        </div>
                  </form>

            </div>
      </div>
</div>
{% endblock %}