{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center" style="margin-top: 0px;">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <div class="col-md-auto">
            <div class="alert alert-danger alert-dismissible fade show">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <form method="POST" action="{{ url_for('auth_signup') }}">
                <div class="form-label-group" style="margin-bottom: 10px; margin-top: 20px;">
                    {{ form.name.label }}
                    {{ form.name(class="form-control") }}
                </div>
                <div class="form-label-group" style="margin-bottom: 10px;">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-label-group" style="margin-bottom: 10px;">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-outline-primary" style="margin-top: 20px;">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}