{% extends "layout.html" %}

{% block body %}

<div id="main_view">
    <div class="row justify-content-around">

        <div class="col-5">
            <div class="form-group row">
                <div class="col-9">
                    <input type="hidden" id="recipe_id" value="{{ recipe.id }}">
                    <label for="namefield">Recipe name</label>
                    <input type="text" class="form-control" id="namefield" value="{{ recipe.name }}">
                </div>
                <div class="col-3">
                    <label for="servings">Servings</label>
                    <input type="number" class="form-control" id="servingsfield" value="{{ recipe.servings }}">
                </div>
            </div>
            <div class="form-group">
                <label for="instrfield">Instructions</label>
                <textarea id="instrfield" class="form-control" rows="12">{{ recipe.instructions }}</textarea>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <button name="save_button" type="button" class="btn btn-outline-primary">Save changes</button>
                </div>
                <div class="col-9" id="alert-create">

                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-row" style="margin-bottom: 50px;">
                <input type="hidden" id="add_id">
                <div class="col-6">
                    <label for="name">Ingredient</label>
                    <input type="text" class="form-control" id="add_name">
                </div>
                <div class="col-2">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="add_amount">
                </div>
                <div class="col-2">
                    <label for="unit">Unit</label>
                    <input type="text" class="form-control" id="add_unit">
                </div>
                <div class="col-1">
                    <label>&nbsp;</label>
                    <button name="add_button" type="button" class="btn btn-outline-primary">Add</button>
                </div>
                <div class="col-10" id="alert-add" style="margin-top: 10px;">

                </div>
            </div>

            <div>
                <ul class="list-unstyled" id="added_ingredients">
                    {% for ingredient in ingredients %}
                    <li class="ingredient">
                        <input type="hidden" id="id" value="{{ ingredient['id'] }}">
                        <input type="hidden" id="name" value="{{ ingredient['name'] }}">
                        <input type="hidden" id="amount" value="{{ ingredient['amount'] }}">
                        <input type="hidden" id="unit" value="{{ ingredient['unit'] }}">
                        <div class="col-11">{{ ingredient['amount'] }} {{ ingredient['unit'] }}
                            {{ ingredient['name'] }}<button type="button" name="remove_button" class="close"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='recipes.js') }}"></script>

{% endblock %}