{% extends "layout.html" %}

{% block body %}

<div id="main_view">
    <div class="row justify-content-around">

        <div class="col-5">
            <div class="form-group row">
                <div class="col-9">
                    <label for="namefield">Recipe name</label>
                    <input type="text" class="form-control" id="namefield">
                </div>
                <div class="col-3">
                    <label for="servings">Servings</label>
                    <input type="number" class="form-control" id="servingsfield" value="2">
                </div>
            </div>
            <div class="form-group">
                <label for="instrfield">Instructions</label>
                <textarea id="instrfield" class="form-control" rows="12"></textarea>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <button name="create_button" type="button" class="btn btn-outline-primary">Create
                        recipe</button>
                </div>
                <div class="col-9" id="alert-create">

                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="form-row" style="margin-bottom: 50px;">
                <input type="hidden" id="add_id">
                <div class="col-6">
                    <label for="name">Ingredient</label>
                    <input type="text" class="form-control" id="add_name">
                </div>
                <div class="col-2">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="add_amount">
                </div>
                <div class="col-2">
                    <label for="unit">Unit</label>
                    <input type="text" class="form-control" id="add_unit">
                </div>
                <div class="col-1">
                    <label>&nbsp;</label>
                    <button name="add_button" type="button" class="btn btn-outline-primary">Add</button>
                </div>
                <div class="col-10" id="alert-add" style="margin-top: 10px;">
                </div>
            </div>
            <div>
                <ul class="list-unstyled" id="added_ingredients">

                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='recipes.js') }}"></script>

{% endblock %}