{% extends "layout.html" %}

{% block body %}

<div id="main">

    <table id="new_recipe">
        <tr>
            <td>Recipe name <input type="text" id="namefield" /></td>
        </tr>
        <tr>
            <td>Instructions <textarea id="instrfield"></textarea></td>
        </tr>
    </table>

    <table id="added_ingredients">
        <tbody>
        </tbody>
    </table>

    <br>

    <table id="ingredient_list">
        <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>kcal per unit</th>
            <th>Category</th>
        </tr>

        <tr class="ingredient">
            <td style="display:none;" class="id"><input type="hidden" id="ingredient_id"></td>
            <td class="name"><input id="new_ingredient" type="text" /></td>
            <td class="amount"><input type="text" /></td>
            <td class="unit"><input id="ingredient_unit" type="text" /></td>
            <td class="kcal"><input id="ingredient_kcal" type="text" /></td>
            <td class="category"><input id="ingredient_category" type="text" /></td>
            <td><button name="add_button" type="button">Add</button></td>
            <td><button name="clear_button" type="button">Clear</button></td>
        </tr>

    </table>
    <br>
    <button name="create_button" style="margin-top: 20px;" type="button">Create recipe</button>
    <br>
    <div id="error"></div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='new.js') }}"></script>

{% endblock %}