{% extends "layout.html" %}

{% block body %}

<div class="row justify-content-around">
  <div class="col-3 col-ingredient">
    <h3>{{ recipe.name }}</h3>
    {% if current_user.is_authenticated and recipe.account_id == account_id %}
    <p class="card-text"><small class="text-muted">
        <a href="{{ url_for('recipes_edit', recipe_id=recipe.id) }}">Edit</a>
        &emsp;
        <a href="{{ url_for('recipes_delete', recipe_id=recipe.id) }}">Delete </a></p>
    </small>
    {% endif %}
    <p>
      <font size="2">{{ recipe.date_created }}</font>
    </p>
    <p>Servings: {{ recipe.servings }}</p>
    <table style="margin-top: 30px;">
      {% for ingredient in ingredients %}
      <tr>
        <td>{{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-8 col-instructions">
    <p class="p-instructions">{{ recipe.instructions }}</p>
  </div>
</div>

{% endblock %}