{% extends "layout.html" %}

{% block body %}
<div class="container" style="position: fixed;">
  <div class="row justify-content-around" style="margin-right: -100px; margin-left: -80px;">
    <div class="col-3" style="overflow-y: auto; height: 80vh; width: 100%; float: left; scrollbar-width: thin;">
      <div style="width: 100%; height: 100%;">
        <h2>{{ recipe.name }}</h2>
        <p>
          <font size="2">{{ recipe.date_created }}</font>
        </p>
        <p>Servings: {{ recipe.servings }}</p>
        <table style="margin-top: 30px;">
          {% for ingredient in ingredients %}
          <tr>
            <td>{{ ingredient['amount'] }} {{ ingredient['unit'] }} {{ ingredient['name'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-9" style="overflow-y: auto; height: 80vh; width: 100%; float: left; margin-right: -250px; scrollbar-width: thin;">
      <div class="instructions" style="width: 100%; height: 100%;">
        <p style="white-space: pre-wrap; margin-top: 60px;">{{ recipe.instructions }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}